<!DOCTYPE HTML>
<html lang=en>
  <head>
    <meta name="viewport" content="width=device-width,user-scalable=yes"/> 
    <style>
      body {
        margin-left:4em;
        margin-right:4em;
        padding:1em;
        word-wrap:break-word;
      }
      div.plot {
        float:left;
        width:{{ width }}%;
      }
    </style>
    <title>View Crombie Plots</title>
    {% load staticfiles %}
    {% if share == "fuck" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    {% endif %}
  </head>

  <body>
    <div>
      Get .tar.gz File:
      <a href="viewplot/static/viewplot/returntar.php?files={{ file_list|join:',' }}" target="blank">PDF, PNG, and C macros</a>
      <a href="viewplot/static/viewplot/returntar.php?only=pdf&files={{ file_list|join:',' }}" target="blank">Just PDF</a>
      <a href="viewplot/static/viewplot/returntar.php?only=png&files={{ file_list|join:',' }}" target="blank">Just PNG</a>
      {% if share == "fuck" %}
      <a href="#forMe" id="top">Copy This</a>
      <form>
        <input type="submit" value="Show me the plots!"> <input type="checkbox" name="share" value="True">Make a sharable page</input> <br>
        <button id="showdirs" type="button" {% if checked|length == 0 %}style="display:none;"{% endif %}>Select Directories</button>
        Match these names: 
        <input type="text" name="expr" value="{{ exprs|join:' ' }}" size="100"></input>
        Per Row:
        <input type="text" name="width" value="{{ raw_width }}" size="4"></input>
        <div id="dirs" {% if checked|length != 0 %}style="display:none;"{% endif %}>
          {% spaceless %}
          
          {% for directory in firstDirs %}
          {% if directory in checked %}
          <input type="checkbox" name="dirs" value="{{ directory }}" checked>{{ directory }}</input> <br>
          {% else %}
          <input type="checkbox" name="dirs" value="{{ directory }}">{{ directory }}</input> <br>
          {% endif %}
          {% endfor %}
          <div id="allmessage">
            These are just the {{ passNum }} most recent directories
          </div>
          <button id="showalldirs" type="button">Show All Directories</button>
          <div id="alldirs" style="display:none;">
            {% for directory in restDirs %}
            {% if directory in checked %}
            <input type="checkbox" name="dirs" value="{{ directory }}" checked>{{ directory }}</input> <br>
            {% else %}
            <input type="checkbox" name="dirs" value="{{ directory }}">{{ directory }}</input> <br>
            {% endif %}
            {% endfor %}
          </div>
          
          {% endspaceless %}
        </div>
        <br>
      </form>
      {% endif %}
      </div>
      {% spaceless %}

    {% for filename in file_list %}
    <div class="plot">
      <div style="height: 2.5em;">
        <p> <a href="{{ plotdir }}{{ filename }}.C">{{ filename }}</a></p>
      </div>
      <a href="{{ plotdir }}{{ filename }}.pdf"><img src="{{ plotdir }}{{ filename }}.png" alt="{{ plotdir }}{{ filename }}.png" width="100%"></a>
    </div>
    {% endfor %}
    {% endspaceless %}
    {% if checked|length != 0 %}
    {% if share == "fuck" %}
    <br id="bottom" style="clear:both">
    <br><br><br><br><br><br>
    <a href="#top">Top</a> <br>
    <div id="forMe" style="word-wrap:break-word">
    crombie downloadtar "http://dabercro.web.cern.ch/dabercro/plotviewer/viewplot/static/viewplot/returntar.php?only=pdf&files={{ file_list|join:',' }}"<br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <a href="#top">Top</a>
    <a href="#bottom">Bottom</a>
    {% endif %}
    {% endif %}

  </body>
  {% if share == "fuck" %}
  <script>
    $(document).ready(function(){
        $("#showdirs").click(function(){
            $("#dirs").toggle();
        });
        $("#showalldirs").click(function(){

            if ($("#showalldirs").html() == "Show All Directories") {
               $("#showalldirs").html("Hide All Directories")
            } else {
               $("#showalldirs").html("Show All Directories")
            }

            $("#alldirs").toggle();
            $("#allmessage").toggle();
        });
    });
  </script>
  {% endif %}
</html>
